.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 80vh;
}

h1{
    font-weight: 400;
}

span{
    font-weight: 700;
}

img{
    width: 100px;
}